#sec1 {
    width: 100%;
    height: inherit;    
    display: flex;
    padding: 40px 0;
}
#sec2 {
    width: 100%;
    height: inherit;    
    display: flex;
    padding: 40px 0;
    background-color: #F6F5F4;
}
.sec_box_1 {
    width: 50%;
}
.sec_box_1 img {
    width: 100%;
}
.sec_box_2 {
     width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec_box_2 h1{
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
}
.sec_box_2 button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #C3DCE3;
    /* width: 40%; */
    border-radius: 50px;
    font-weight: 600;
    color: #2B788B;
    font-size: 14px;
}

.ic_box {
    display: flex;
    margin: 12px 0;
}
.ic_box .sp {
    background-color: #F2D4DC;
    color: #8e4b5d;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: 500;
}
.ic_box .au {
    background-color: #C3DCE3;
    color: #2B788B;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: 500;
}
p {
    color: #585858;
}

@media only screen and (max-width: 600px)  {
    #sec1 {
    width: 100%;
    height: inherit;    
    display: block;
    padding: 40px 0;
}
#sec2 {
    width: 100%;
    height: inherit;    
    display: block;
    padding: 40px 0;
    background-color: #F6F5F4;
}
.sec_box_1 {
    width: 100%;
}
.sec_box_1 img {
    width: 100%;
}
.sec_box_2 {
     width: 100%;
     text-align: center;
    padding-top: 20px;
}
.sec_box_2 h1{
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
}
}